<h1>Item#show</h1>
<h1><%= @department.name %> - <%= @item.name %></h1>
<hr />
<p><%= @item.body %></p>
<%= link_to 'Edit Item', edit_department_item_path([@department, @item]) %>
<br />
<%= link_to 'Delete Item', [@department, @item], method: :delete %>
<br />
<%= link_to 'Back To Items', department_items_path(@department) %>
